@media (max-width: 1400px) {
  .header__top {
    padding: 32px 0;
  }

  .header__content {
    padding-top: 90px;
    /* max-width: 1060px; */
  }

  .header__title {
    font-size: 55px;
    margin-bottom: 24px;
  }

  .title {
    font-size: 65px;
    /* font-size: 50px; */
    margin-bottom: 8px;
  }

  .header__text {
    font-size: 24px;
    margin-bottom: 45px;
  }

  .text {
    font-size: 24px;
    /* font-size: 20px; */
    margin-bottom: 70px;
  }

  .slide {
    padding-left: 60px;
  }

  .slider__title {
    bottom: 70px;
    font-size: 100px;
    background: linear-gradient(
      90deg,
      rgba(17, 68, 85, 1) 60px,
      rgba(255, 255, 255, 1) 60px
    );
    background: -webkit-linear-gradient(
      0deg,
      rgba(17, 68, 85, 1) 60px,
      rgba(255, 255, 255, 1) 60px
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .slider__img {
    height: 540px;
  }
}

@media (max-width: 1000px) {
  .title {
    font-size: 60px;
  }

  .text {
    font-size: 22px;
  }

  .case-studies {
    padding: 80px 0;
  }

  .case-studies__text {
    margin-bottom: 50px;
  }

  .about {
    padding: 80px 0;
  }

  .about__text {
    margin-bottom: 50px;
  }

  .footer {
    padding: 32px 0;
  }

  .footer__wrapper {
    flex-direction: column-reverse;
    align-items: center;
    row-gap: 32px;
  }

  .footer__copyright {
    font-size: 22px;
  }

  .footer__email {
    margin: 0;
    order: 1;

    font-size: 24px;
    line-height: 2;
  }

  .footer__email-link {
    color: var(--Blue, #4a2ad3);
  }

  .socials {
    column-gap: 32px;
  }

  .socials img {
    width: 32px;
    height: 32px;
  }
}

@media (max-width: 900px) {
  .nav__list {
    column-gap: 45px;
  }

  .scroll__down img {
    width: 34px;
    height: 22px;
    bottom: 35px;
  }
}

@media (max-width: 800px) {
}

@media (max-width: 600px) {
  .header {
    padding: 0 9px;
    min-height: 812px;
    background-image: url(./../img/header/header-bg-mobile.jpg);
    background-size: cover;
    background-position: center;
  }

  .header__top {
    padding: 50px 0;
  }

  .nav__logo {
    max-width: 109px;
  }

  .nav__list,
  .header__btn {
    display: none;
  }

  .nav__btn {
    display: block;
  }

  .nav__btn img {
    width: 24px;
    height: 24px;
  }

  .header__content {
    display: none;
  }

  .header__content-mobile {
    padding-top: 114px;
    display: block;
    display: flex;
    flex-direction: column;
    row-gap: 27px;
    align-items: center;

    color: var(--Dark-grey, #1f1f1f);
    text-align: center;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5; /* 150% */
    letter-spacing: 0.96px;
  }

  .header__logo-mobile {
    width: 230px;
    height: 44px;
  }

  .header__text-mobile {
    width: 234px;
  }

  .scroll__down img {
    width: 19px;
    height: 16px;
  }

  .case-studies {
    padding: 80px 9px 40px;
  }

  .container-right {
    padding-left: 9px;
  }

  .title {
    color: var(--Dark-grey, #1f1f1f);
    font-size: 32px;
    font-weight: 800;
  }

  .case-studies__title {
    margin-bottom: 7px;
  }

  .text {
    color: var(--Dark-grey, rgb(31, 31, 31));
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5; /* 150% */
    letter-spacing: 0.96px;
  }

  .case-studies__text {
    padding-right: 31px;
    margin-bottom: 31px;
  }

  .slide {
    padding-left: 33px;
  }

  .slider {
    height: 264px;
  }

  .slider__img {
    width: 224px;
    height: 264px;
  }

  .slider__title {
    bottom: 22px;
    font-size: 60px;

    background: linear-gradient(
      90deg,
      rgba(17, 68, 85, 1) 33px,
      rgba(255, 255, 255, 1) 33px
    );
    background: -webkit-linear-gradient(
      0deg,
      rgba(17, 68, 85, 1) 33px,
      rgba(255, 255, 255, 1) 33px
    );
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .about {
    padding: 40px 0;
  }

  .about__title {
    margin-bottom: 7px;
  }

  .about__text {
    margin-bottom: 40px;
  }

  .video {
    overflow: hidden;
  }

  .btn__video {
    width: 48px;
    height: 48px;
  }

  .video__picture,
  .video__picture img {
    width: 100%;
  }

  .video__object {
    position: absolute;
    left: -50%;
    width: 900px;
    height: 459px;
  }

  .footer {
    padding: 32px 0;
  }

  .footer__wrapper {
    flex-direction: column-reverse;
    align-items: center;
    row-gap: 16px;
  }

  .footer__copyright {
    font-size: 16px;
  }

  .footer__email {
    margin: 0;
    order: 1;

    font-size: 20px;
    line-height: 2;
  }

  .footer__email-link {
    color: var(--Blue, #4a2ad3);
  }

  .socials {
    column-gap: 24px;
  }

  .socials img {
    width: 24px;
    height: 24px;
  }
}
